
<mat-card *ngFor="let ocurrence of ocurrences">
  <mat-card-header>
    <mat-card-title>{{ocurrence.description}}</mat-card-title>
    <mat-card-subtitle>{{ocurrence.type}} - {{ocurrence.anonymous ? 'Anônimo' : ocurrence.user_name}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>{{ocurrence.street}},{{ocurrence.number}} {{ocurrence.complement ? '('+ocurrence.complement+')' : ''}}  - {{ocurrence.neighborhood}} - {{ocurrence.city}} | {{ocurrence.zip_code}} </p>

    <p>Ocorreu em: {{ocurrence.ocurred_at | date:'dd/MM/yyyy hh:mm'}}</p>
    <p>Publicado em: {{ocurrence.created_at | date:'dd/MM/yyyy hh:mm'}}</p>
  </mat-card-content>
</mat-card>