mat-card {
  max-width: 400px;
  margin: 2em auto;
  // text-align: center;
}

mat-form-field {
  display: block;
}

.button-row button{
  margin-right: 8px;
}

h1{
  text-align: center;
}

.text-center{
  text-align: center;
  font-size: 14px;
}

.map {
  width: 600px;
  max-width: 600px;
  min-height: 400px;
  height: 448px;
}