<mat-card>
  <mat-card-content>
    <form [formGroup]="formLogin" (ngSubmit)="onSubmitLogin()">
      <h2>Log In</h2>
      <mat-error *ngIf="loginInvalid">
        O Usuário ou Senha Estão incorretos
      </mat-error>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Servidor (com / no final)" formControlName="server" type="url" required>
        <mat-error>
          Por favor informe um servidor
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="E-mail" formControlName="email" required>
        <mat-error>
          Por favor informe um e-mail
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <input matInput type="password" placeholder="Senha" formControlName="password" required>
        <mat-error>
          Por favor informe uma senha
        </mat-error>
      </mat-form-field>
      <div class="button-row">
        <button mat-raised-button color="primary">Entrar</button>
        <button type="button" (click)="goToSignup()" mat-raised-button color="accent">Cadastrar</button>
        <button type="button" (click)="goToFp()" mat-raised-button color="link">Esqueceu a Senha</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>