<mat-card>
  <mat-card-content>
    <form [formGroup]="formForgotPassword" (ngSubmit)="onSubmitFp()">
      <h2>Esqueceu a Senha</h2>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="E-mail" formControlName="email" required>
        <mat-error>
          Por favor informe seu e-mail
        </mat-error>
      </mat-form-field>

   
      <div class="button-row">
        <button mat-raised-button color="primary">Enviar</button>
        <button type="button" (click)="goToLogin()" mat-raised-button color="accent">Login</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>