<mat-card>
  <mat-card-content>

    <mat-spinner *ngIf="!dataLoaded" style="margin: 0 auto;"></mat-spinner>
    <form [formGroup]="formUser" (ngSubmit)="onSubmitSignup()" *ngIf="dataLoaded">
      <h2>Meus Dados</h2>
      <mat-error *ngIf="updateError">
        Erro ao Atualizar
      </mat-error>

      <mat-form-field class="full-width-input">
        <input matInput placeholder="Nome" name="name" formControlName="name" required>
        <mat-error>
          Por favor informe um Nome
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="E-mail" name="email" formControlName="email" required>
        <mat-error>
          Por favor informe um e-mail
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <input matInput type="password" placeholder="Senha" name="password" formControlName="password">
        <mat-error>
          Por favor informe uma senha (deixe em branco para manter a mesma)
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <input matInput  placeholder="CEP" formControlName="zipCode" name="zipcode" required>
        <mat-error>
          Por favor informe um CEP
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <input matInput  placeholder="Cidade" formControlName="city" name="city" required>
        <mat-error>
          Por favor informe uma cidade
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <input matInput  placeholder="Bairro" formControlName="neighborhood" name="neighborhood" required>
        <mat-error>
          Por favor informe um bairro
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <input matInput  placeholder="Rua" formControlName="street" name="street" required>
        <mat-error>
          Por favor informe uma rua
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <input matInput  placeholder="Número" formControlName="number" type="number" name="number" required>
        <mat-error>
          Por favor informe o número
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <input matInput  placeholder="Complemento" formControlName="complement" name="complement">
        <mat-error>
          Por favor informe o complemento
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <input matInput  placeholder="Telefone" formControlName="phone" name="phone"  required>
        <mat-error>
          Por favor informe o telefone
        </mat-error>
      </mat-form-field>


      <div class="button-row" layout="column">
        <button mat-raised-button color="primary">Atualizar</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>